.navigation {
    width: 100%;
    background-color: #519e8a;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.nav-text {
    display: inline-block;
    padding-right: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-text:visited {
    text-decoration: none;
    color: #000;
}

.nav-text:active {
    text-decoration: none;
    color: #000;
}

.nav-text:focus {
    text-decoration: none;
    color: #000;
}

.nav-text:hover {
    text-decoration: none;
}